.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0554f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carousel-item>img {
  height: 620px;
}



.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

.cultural {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 25px;
  width: 100%;
}

.course-item>img {
  height: 400px;
  width: 400px;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo>a {
  color: #fcf5f5 !important;
}

.logo>a:hover {
  color: rgb(221, 236, 4) !important;
}

/*======about======*/
.testimonial-item>img {
  height: 100px;
  width: 200%;
  border-radius: 5%;
}

/*=====admission=====*/




/*=========signup=====*/
.g-3 {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 10px;
  border-radius: 20px;
}

.col-12>button {
  background-color: #03045a;
  color: whitesmoke;
}


.submitbutton hover {
  background-color: yellow;
}

/*======gallery=====*/
.imageholder {
  height: 200px;
  overflow: hidden;
}



.cultural_gallery {
  margin-top: 1rem;
}

.cultural1 {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 25px;
  height: auto;
  width: 95%;

}

.trainers .member {
  text-align: center;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eef0ef;
}

.trainers .member .cultural_gallery img {
  margin: -1px -1px 0 -1px;
}

.trainers .member .member-content {
  padding: 0 20px 30px 20px;
}



/*=======footer====*/
.footerlogo>img {
  height: 100px;


}

/*======contactus======*/
.query_form {
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 25px;
  width: 60%;

}

.form-control {
  border: 1px solid #03045a;
}

.php-email-form>button {
  background-color: #03045a;
}

/*====signup=====*/

#show {
  display: flex;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 2px;

}

#login {

  width: 20%;
}

/*====payment=====*/
.pay {
  margin: auto;
  border: 1px solid blue;
  width: 100%;


}

/*======signup,login button====*/
.defaultText {
  color: rgb(3, 3, 75);
  font-weight: 550;
}

.submitbutton {
  background-color: #03034B;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  width: max-content;
}

.submitbutton:hover {
  background-color: #03034B;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  width: max-content;
}

.submitbutton:focus {
  background-color: #03034B !important;
  border-radius: 5px;
  color: #fff !important;
  font-weight: 600;
  width: max-content;
}

.submitbutton:focus-visible {
  background-color: #03034B !important;
  border-radius: 5px;
  color: #fff !important;
  font-weight: 600;
  width: max-content;
}

.submitbutton:active {
  background-color: #03034B !important;
  border-radius: 5px;
  color: #fff !important;
  font-weight: 600;
  width: max-content;
}

.form-wrapper {
  padding: 10px 0px;
}

.form-wrapper>h5 {
  color: #03034B;
}

.borderbottom {
  border-bottom: 2px solid;
  width: fit-content;
}